@import "_settings";
@import "foundation/_functions";

#header {
    height: 125px;
    width: 100%;
    background: #333333;
    h1 {
        font-size: 50pt;
        color: #fff;
    }
}
#navigation-bar {
    position: relative;
    //top:125px;
    width: 100%;
    background: #333333;
}