@import "foundation/_settings";
@import "foundation/_functions";

#nav_bar {
    text-align: right;
    ul#navigation_list {

        list-style-type:none;
        margin:0;
        padding:10px 0;

        li{
            position: relative;
            right: 10px;
            color: #fff;
            display:inline;
            padding: 0 20px 0 0;
        }
    }
}